{% extends "base.html" %}

{% load i18n %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="Notices Feed" href="{% url notification_feed_for_user %}" />
{% endblock %}

{% block body_id %}notices{% endblock %}

{% block breadcrumb_menu %}
{{ block.super }}
<li><a href="{{ page.get_absolute_url }}">{% if page %}
  {{ page.richtextpage.title }}
  {% else %}
  {% trans "Notification" %}
  {% endif %}</a></li>
  <span class="divider">/</span>
<li class="active">{% block title %}{% endblock %}</li>
{% endblock %}


{% block right_panel %}
    <ul class="nav nav-list">
        <li class="nav-header">{% trans "Notices" %}</li>
        <li><a href="{% url notification_notices %}"><i class="icon-exclamation-sign"></i> {% trans "Notices" %}</a></li>
        <li><a href="{% url notification_notice_settings %}"><i class="icon-cog"></i> {% trans "Settings" %}</a></li>
    </ul>
{% endblock %}
